@page "/"

<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

<p>vamos a sumar 2 + 2= @(2+2)</p>

<button @onclick="@ManejarClick">Presioname</button>

<div>
    <h3>Pelicula</h3>
    <p>Titulo: <b>@SpiderMan.Titulo</b></p>
    <p>Lanzamiento: <b>@SpiderMan.Lanzamiento.ToString("dd MMM yyyy")</b></p>
</div>
    


@code{
    string nombre = "Felipe";

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

   

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            {
                Titulo = "Spider-Man: Far away home",
                Lanzamiento = new DateTime(2019, 11, 2),
            };
    } 

    private void ManejarClick()
    {
        Console.WriteLine("me han clicleado desde metodo");
    }
}