@page "/"

@*<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

<p>vamos a sumar 2 + 2= @(2+2)</p>

<button @onclick="@ManejarClick">Presioname</button>*@

<div>
    <h3>Peliculas</h3>
   @* @foreach (var item in ObtenerPeliculas())
    {
      <div>
        <p>Titulo: <b>@item.Titulo</b></p>
        <p>Lanzamiento: <b>@item.Lanzamiento.ToString("dd MMM yyyy")</b></p>
      </div> 
    }*@

    @if (Peliculas == null)
    {
        <iframe src="https://giphy.com/embed/L05HgB2h6qICDs5Sms" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <text>Cargando...</text>
    }
    else if (Peliculas.Count == 0)
    {
        <text>No hay registros para mostrar</text>
    }
    else
    {
         @for (var i = 0; i < Peliculas.Count; i++)
         {
              <div>
                 @if (i==Peliculas.Count - 1)
                 {
                      <p>Esta es la ultima pelicula</p>
                 }
             <p>@(i+1))Titulo: @((MarkupString)Peliculas[i].Titulo)</p>
             <p>Lanzamiento: <b>@Peliculas[i].Lanzamiento.ToString("dd MMM yyyy")</b></p>
      </div>
    }

   
   }
</div>
    


@code{
    string nombre = "Felipe";

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(3000);
        Peliculas = ObtenerPeliculas();
    }

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas;


    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            {
                Titulo = "Spider-Man: Far away home",
                Lanzamiento = new DateTime(2019, 11, 2),
            };
    } 

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
            new Pelicula(){Titulo="<b>Spider-Man: Far away home</b>",Lanzamiento = new DateTime(2019, 11, 2)},
            new Pelicula(){Titulo="<i>Moana</i>",Lanzamiento = new DateTime(2001,10,15)},
            new Pelicula(){Titulo="Inception",Lanzamiento = new DateTime(2006, 12, 20)}
        };
    }

    private void ManejarClick()
    {
        Console.WriteLine("me han clicleado desde metodo");
    }
}