@page "/"

<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

<p>vamos a sumar 2 + 2= @(2+2)</p>

<button @onclick="@ManejarClick">Presioname</button>

<div>
    <h3>Peliculas</h3>
    @foreach (var item in ObtenerPeliculas())
    {
      <div>
        <p>Titulo: <b>@item.Titulo</b></p>
        <p>Lanzamiento: <b>@item.Lanzamiento.ToString("dd MMM yyyy")</b></p>
      </div> 
    }

    @for (var i = 0; i < Peliculas.Count; i++)
   {
        <div>
        <p>@(i+1))Titulo: <b>@Peliculas[i].Titulo</b></p>
        <p>Lanzamiento: <b>@Peliculas[i].Lanzamiento.ToString("dd MMM yyyy")</b></p>
      </div>
   }
</div>
    


@code{
    string nombre = "Felipe";

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas { get{ return ObtenerPeliculas(); } }


    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            {
                Titulo = "Spider-Man: Far away home",
                Lanzamiento = new DateTime(2019, 11, 2),
            };
    } 

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
            new Pelicula(){Titulo="Spider-Man: Far away home",Lanzamiento = new DateTime(2019, 11, 2)},
            new Pelicula(){Titulo="Moana",Lanzamiento = new DateTime(2001,10,15)},
            new Pelicula(){Titulo="Inception",Lanzamiento = new DateTime(2006, 12, 20)}
        };
    }

    private void ManejarClick()
    {
        Console.WriteLine("me han clicleado desde metodo");
    }
}